---
import Carousel from "@/components/Carousel.astro";
import Layout from "@/layouts/Layout.astro";
import SEO from "@/components/SEO.astro";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const importProjectsModule = import.meta.glob("@/data/*/projects.json")[
  `/src/data/${lang}/projects.json`
];
let Projects = [];
if (importProjectsModule) Projects = (await importProjectsModule()).default;
else
  console.warn(
    `Could not find projects module importer for key: ${`/src/data/${lang}/projects.json`}`
  );

const importServicesModule = import.meta.glob("@/data/*/services.json")[
  `/src/data/${lang}/services.json`
];
let Services = [];
if (importServicesModule) Services = (await importServicesModule()).default;
else
  console.warn(
    `Could not find projects module importer for key: ${`/src/data/${lang}/services.json`}`
  );
---

<SEO pageName="about" />
<Layout>
  <div class="about-page-scroll-start"></div>
  <div
    data-speed="clamp(0.8)"
    class="lg:h-[80vh] z-10 about-page-main-cover-image w-full lg:bg-fixed invert"
    style="mix-blend-mode: difference; filter: grayscale(100%); background-repeat: no-repeat; background-size: cover; background-image: url('/images/about-page/thisisengineering-5FE2hIfHQzg-unsplash.webp');">
    <img
      src="/images/about-page/thisisengineering-5FE2hIfHQzg-unsplash.webp"
      class="w-full opacity-0 h-auto"
    />
  </div>
  <div class="w-full flex-auto bg-green-500 pb-[4rem] overflow-hidden- max-w-screen relative">
    <div class="rounded-t-lg flex mt-[-1rem] w-full relative">
      <div class="px-4 items-center content-center flex py-[4rem]" data-speed="clamp(0.95)">
        <p class="mr-8" style="writing-mode: vertical-rl; text-orientation: mixed;">
          {t("about.about-the-company-text")}
        </p>
        <div class="relative flex justify-between overflow-hidden- items-center">
          <p
            class="text-xl z-1 queens-compressed mt-[2rem] lg:text-5xl mb-[4rem] -roboto-mono-main max-w-6xl">
            {t("about.about-otherdev")}
          </p>

          <div class="spikey-boy-clickable hidden lg:block"><img src="/shapes/Party.svg" /></div>
        </div>
      </div>
      <div class="spikey-boy z-[-1] absolute top-[-6rem]"><img src="/shapes/Party.svg" /></div>
      <!-- <div class="md:hidden z-[0] absolute bottom-[-5%] right-[-50%]"><img class=" w-[180vw]" src="/shapes/Butterfly.svg" /></div> -->
    </div>
    <hr class="border-black" />

    <p class="absolute px-4 text-[15vw] font-serif">{t("about.projects")}</p>
    <div class="mt-[15vw]">
      <Carousel carouselId={"about-page"} images={Projects.map((item) => item.imageSrc)} />
    </div>
    <!-- <p class="absolute px-4 text-[15vw] font-serif">{"Projects"}</p>
    <div class="grid grid-cols-1 md:grid-cols-4 w-full">
      {
        Services.map((item, index) => (
          <div
            class={`text-black ${(index + 1) < Services.length ? "md:border-r md:border-black border-b md:border-b-0" : ""}`}>
            <img src={item.imageSrc} style="mix-blend-mode:exclusion;" class="invert-100 sw-full h-auto" />
            <h2 class="text-6xl py-4 px-4 serif tracking-tight">{item.title}</h2>
            <p class="mt-4 text-lg px-4 py-4 pb-8">{item.description}</p>
          </div>
        ))
      }
    </div> -->
  </div>
  <div class="about-page-scroll-end"></div>
</Layout>
<script>
  // Rotate element on click
  document.querySelector(".spikey-boy-clickable")?.addEventListener("click", () => {
    gsap.to(".spikey-boy-clickable", { rotate: "+=360", duration: 1 });
  });
</script>
